.elementor-17 .elementor-element.elementor-element-b2d0201 {
  padding: 90px 0px 90px 0px;
}
.elementor-17
  .elementor-element.elementor-element-9308f43
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-17
  .elementor-element.elementor-element-a61d41c
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
}
.elementor-17
  .elementor-element.elementor-element-18f0866
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-17
  .elementor-element.elementor-element-b33e612
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-17
  .elementor-element.elementor-element-90a7f51:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-17
  .elementor-element.elementor-element-90a7f51
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #faf2e7;
}
.elementor-17 .elementor-element.elementor-element-90a7f51 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;
}
.elementor-17
  .elementor-element.elementor-element-90a7f51
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-17
  .elementor-element.elementor-element-d4e16b1
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-17
  .elementor-element.elementor-element-d7b422b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-17
  .elementor-element.elementor-element-d7b422b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/footer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-17
  .elementor-element.elementor-element-d7b422b
  > .elementor-background-overlay {
  background-color: #613228;
  opacity: 0.2;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-17 .elementor-element.elementor-element-d7b422b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;
}
.elementor-17 .elementor-element.elementor-element-fc51047 .section-title h2 {
  color: #ffffff;
}
.elementor-17 .elementor-element.elementor-element-fc51047 .section-title2 {
  color: #ffffff;
}
.elementor-17 .elementor-element.elementor-element-fc51047 .contact h6 {
  color: #ffffff;
}
.elementor-17 .elementor-element.elementor-element-fc51047 .section-title span {
  color: #ffffff;
}
.elementor-17
  .elementor-element.elementor-element-cf53e49:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-17
  .elementor-element.elementor-element-cf53e49
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #faf2e7;
}
.elementor-17 .elementor-element.elementor-element-cf53e49 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;
}
.elementor-17
  .elementor-element.elementor-element-cf53e49
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-17 .elementor-element.elementor-element-0c941ee {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-17
  .elementor-element.elementor-element-df1038c
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-17 .elementor-element.elementor-element-fb2a24f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;
}
.elementor-17
  .elementor-element.elementor-element-fb2a24f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-17 .elementor-element.elementor-element-92646a5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-17
  .elementor-element.elementor-element-2d25ebf
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-17
  .elementor-element.elementor-element-38a8716:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-17
  .elementor-element.elementor-element-38a8716
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/footer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-17
  .elementor-element.elementor-element-38a8716
  > .elementor-background-overlay {
  background-color: #613228;
  opacity: 0.2;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-17 .elementor-element.elementor-element-38a8716 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 0px 0px;
  z-index: 1;
}
.elementor-17
  .elementor-element.elementor-element-0eab44c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-17
  .elementor-element.elementor-element-0eab44c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eccba1;
}
.elementor-17 .elementor-element.elementor-element-0eab44c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-17
  .elementor-element.elementor-element-0eab44c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (min-width: 768px) {
  .elementor-17 .elementor-element.elementor-element-9308f43 {
    width: 50%;
  }
  .elementor-17 .elementor-element.elementor-element-b33e612 {
    width: 10%;
  }
  .elementor-17 .elementor-element.elementor-element-0a32285 {
    width: 39.666%;
  }
  .elementor-17 .elementor-element.elementor-element-d4e16b1 {
    width: 66.666667%;
  }
  .elementor-17 .elementor-element.elementor-element-e162334 {
    width: 26.19%;
  }
  .elementor-17 .elementor-element.elementor-element-c8f0918 {
    width: 41.617%;
  }
  .elementor-17 .elementor-element.elementor-element-42452f6 {
    width: 16.367%;
  }
  .elementor-17 .elementor-element.elementor-element-568d12b {
    width: 41.621%;
  }
  .elementor-17 .elementor-element.elementor-element-df1038c {
    width: 66.666667%;
  }
  .elementor-17 .elementor-element.elementor-element-74df76f {
    width: 26.19%;
  }
  .elementor-17 .elementor-element.elementor-element-2d25ebf {
    width: 66.666667%;
  }
  .elementor-17 .elementor-element.elementor-element-cec4d3b {
    width: 26.19%;
  }
  .elementor-17 .elementor-element.elementor-element-f5716bd {
    width: 41.617%;
  }
  .elementor-17 .elementor-element.elementor-element-10c8c3e {
    width: 16.367%;
  }
  .elementor-17 .elementor-element.elementor-element-824f7cb {
    width: 41.621%;
  }
  .elementor-17 .elementor-element.elementor-element-f215c49 {
    width: 56.749%;
  }
  .elementor-17 .elementor-element.elementor-element-230a52a {
    width: 40.569%;
  }
}
@media (min-width: 1025px) {
  .elementor-17
    .elementor-element.elementor-element-d7b422b:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-17
    .elementor-element.elementor-element-d7b422b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
  .elementor-17
    .elementor-element.elementor-element-38a8716:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-17
    .elementor-element.elementor-element-38a8716
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  .elementor-17
    .elementor-element.elementor-element-b33e612
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
